.new-todo,
.edit {
	position: relative;
	margin: 0;
	width: 100%;
	font-size: 48px !important;
	font-family: inherit;
  font-weight: inherit;
  height: 130px !important;
	line-height: 130px !important;
	border: 0;
	color: inherit;
	padding: 12px;
	border: 2px solid #999;
	box-shadow: inset 0 -1px 5px 0 rgba(0, 0, 0, 0.2);
	box-sizing: border-box;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.new-todo {
	padding: 32px 32px 32px 120px;
	border: none;
	background: rgba(0, 0, 0, 0.003);
	box-shadow: inset 0 -2px 1px rgba(0,0,0,0.03);
}
