.new-todo,
.edit {
  position: relative;
  font-style: normal;
  margin: 0;
  width: 100%;
  font-size: 48px;
  height: 130px;
  line-height: 130px;
  padding: 12px;
  color: black;
}

.new-todo {
  padding: 32px;
  font-style: italic;
  font-weight: 300;
  color: black;
  box-shadow: none;
  background: rgba(0, 0, 0, 0.003);
}

