.filters-link {
  //color: inherit;
  margin: 6px;
  padding: 6px 14px;
  text-decoration: none;
  //border: 2px solid transparent;
  border-radius: 6px;
}

.filters-link:hover {
  //border-color: rgba(175, 47, 47, 0.1);
}

.selected {
  border-color: #AF2F2F;
  border-width: 1px;
}
