.main {
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 2;
  border-top-width: 1px;
  border-style: solid;
  border-top-color: #e6e6e6;
  border-bottom-width: 0;
  border-left-width: 0;
  border-right-width: 0;
}

.checkbox-group {
  margin-bottom: 10px;
}
