.title {
	width: 100%;
	font-size: 100px;
	font-weight: 100;
	text-align: center;
	color: rgba(175, 47, 47, 0.55);
	//-webkit-text-rendering: optimizeLegibility;
	//-moz-text-rendering: optimizeLegibility;
	//text-rendering: optimizeLegibility;
}

.filters {
	margin: 0;
	padding: 0;
  flex-direction: row;
	//list-style: none;
	//position: absolute;
	//right: 0;
  //left: 0;
  //top: -60px;
}

.filters-item {
}

//@media (max-width: 430px) {
//	.filters {
//		bottom: 10px;
//	}
//}
